* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.profile__container:hover {
  animation-name: photo;
  animation-duration: 10s;
  transition: 8s;
  animation-iteration-count: initial;
}

.profile__title {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  animation-name: fuente;
  animation-duration: 10s;
  transition: 8s;
  animation-iteration-count: infinite;
}

.profile__photo {
  width: 200px;
  height: auto;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  filter: drop-shadow(-20px 20px 5px salmon);
}

.main--profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentProfile {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  width: 60%;
  margin: 10px;
  padding-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  align-self: center;
  align-items: center;
  align-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.contentProfile:hover {
  transition: 1.005s;
  background: rgba(0, 0, 0, 0.5);
  filter: drop-shadow(20px 20px 5px);
  border-radius: 15px;
  padding: 10px;
}

.contentProfile:hover .contentProfile__text {
  opacity: 100;
  visibility: visible;
}

.contentProfile:hover .contentProfile__title {
  background: rgba(0, 0, 0, 0);
}

.contentProfile__title {
  width: 40%;
  font-style: italic;
  text-decoration: none;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: auto;
}

.contentProfile__text {
  visibility: hidden;
  width: 60%;
  opacity: 0;
  color: white;
  height: auto;
}

.nav {
  background: gray;
}

.navnav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  padding: 20px;
  margin: 10px;
  margin-top: 0px;
}

.nav__link {
  margin-right: 10px;
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
}

.nav__link:hover {
  color: black;
  cursor: pointer;
  background: blanchedalmond;
  text-decoration: underline;
  font-weight: bold;
}

.nav__link:active {
  color: black;
  cursor: pointer;
  background: blanchedalmond;
  text-decoration: underline;
  font-weight: bold;
}

.body {
  height: auto;
  margin-bottom: 0px;
  animation-name: anim;
  animation-duration: 10s;
  transition: 8s;
  animation-iteration-count: infinite;
}

.footer {
  bottom: 0;
  position: static;
  width: 100%;
  height: auto;
}

@keyframes anim {
  0% {
    background-color: #e2ffff;
  }
  10% {
    background-color: #d2ffff;
  }
  20% {
    background-color: #c2ffff;
  }
  30% {
    background-color: #c2ffff;
  }
  40% {
    background-color: #b2ffff;
  }
  50% {
    background-color: #c2ffff;
  }
  60% {
    background-color: #c2ffff;
  }
  70% {
    background-color: #d2ffff;
  }
  80% {
    background-color: #e2ffff;
  }
}

@media only screen and (max-width: 1024px) {
  .contentProfile {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    transition: 1.005s;
    background: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(20px 20px 5px);
    border-radius: 15px;
    padding: 10px;
  }
  .contentProfile__title {
    text-align: center;
    width: 80%;
    background: rgba(0, 0, 0, 0);
  }
  .contentProfile__text {
    width: 80%;
    opacity: 100;
    visibility: visible;
    opacity: 100;
    display: contents;
  }
  .footer {
    bottom: 0;
    position: sticky;
    width: 100%;
  }
}

@keyframes fuente {
  25% {
    color: #813270;
  }
  50% {
    color: #323499;
  }
  75% {
    color: #c7b727;
  }
  100% {
    -color: #db5544;
  }
}

@keyframes photo {
  50% {
    transition: 5s linear;
    transform: rotateX(-180deg);
  }
  100% {
    transition: 5s linear;
    transform: rotatey(-180deg);
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  transform: translate(-50%, -50%);
}

.contact {
  width: 100%;
  height: 100%;
}

.card {
  cursor: pointer;
  width: 400px;
  height: 800px;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.front {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  transform: perspective(600px) rotateY(0deg);
}

.front__img {
  height: 100%;
  width: 100%;
}

.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  background: blanchedalmond;
  transform: perspective(600px) rotateY(180deg);
}

.back__content {
  background: chocolate;
  text-align: center;
  width: 100%;
}

.sm {
  margin: 20px 0px;
}

.sm i {
  width: 20px;
  height: 20px;
}

.sm a {
  display: inline-flex;
  align-items: center;
  color: skyblue;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
  padding: 5px;
}

.sm a:hover {
  background: blue;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .middle--contact {
    transform: translate(-50%, -35%);
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.curriculum {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  border: 2px solid black;
}

.curriculum__title--curriculum {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  animation-name: fuente;
  animation-duration: 10s;
  transition: 8s;
  animation-iteration-count: infinite;
}

.main--curriculum {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentCurriculum {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  width: 60%;
  margin: 10px;
  padding-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  align-self: center;
  align-items: center;
  align-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.contentCurriculum:hover {
  transition: 1.005s;
  background: rgba(0, 0, 0, 0.5);
  filter: drop-shadow(20px 20px 5px);
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px;
  transform: translateY(360deg);
}

.contentCurriculum:hover .contentCurriculum__text {
  opacity: 100;
  visibility: visible;
  transition: 5s;
}

.contentCurriculum:hover .contentCurriculum__title {
  background: rgba(255, 140, 105, 0);
}

.contentCurriculum__title {
  width: 50%;
  font-style: italic;
  text-decoration: none;
  padding: 5px;
  background: rgba(255, 140, 105, 0.5);
  color: white;
  height: auto;
}

.contentCurriculum__text {
  visibility: hidden;
  width: 50%;
  opacity: 0;
  color: white;
  height: auto;
}

.body {
  height: auto;
  margin-bottom: 0px;
  animation-name: anim;
  animation-duration: 10s;
  transition: 8s;
  animation-iteration-count: infinite;
}

.footer {
  bottom: 0;
  position: static;
  width: 100%;
  height: auto;
}

@keyframes anim {
  0% {
    background-color: #e2ffff;
  }
  10% {
    background-color: #d2ffff;
  }
  20% {
    background-color: #c2ffff;
  }
  30% {
    background-color: #c2ffff;
  }
  40% {
    background-color: #b2ffff;
  }
  50% {
    background-color: #c2ffff;
  }
  60% {
    background-color: #c2ffff;
  }
  70% {
    background-color: #d2ffff;
  }
  80% {
    background-color: #e2ffff;
  }
}

@media only screen and (max-width: 1024px) {
  .contentCurriculum {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    transition: 1.005s;
    background: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(20px 20px 5px);
    border-radius: 15px;
    padding: 10px;
  }
  .contentCurriculum__title {
    text-align: center;
    width: 80%;
    background: rgba(0, 0, 0, 0);
  }
  .contentCurriculum__text {
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 100;
    visibility: visible;
    opacity: 100;
    display: contents;
  }
  .contentCurriculum__content {
    display: flex;
    width: auto;
    flex-direction: column;
  }
  .footer {
    bottom: 0;
    position: sticky;
    width: 100%;
  }
}

@keyframes fuente {
  25% {
    color: #158b29;
  }
  50% {
    color: #0f6385;
  }
  75% {
    color: #a8731c91;
  }
  100% {
    -color: #db5644ce;
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {
  .curriculum {
    background: #d5d5d5;
  }
  .curriculum__title {
    font-size: 60px;
    font-weight: bolder;
    text-decoration: overline;
    text-align: center;
    background: #c0b283;
    padding: 20px;
    color: #f4f4f4;
    font-family: Garamond;
  }
  .curriculum__datos {
    text-align: center;
  }
  .curriculum__datos__title {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 60px;
  }
  .curriculum__datos__title:hover {
    text-decoration: underline;
  }
  .curriculum__datos__img {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 700px;
  }
  .curriculum__datos__img:hover {
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
  }
  .curriculum__datos__information {
    width: 100vw;
  }
  .juego {
    align-items: center;
    bottom: 0;
  }
  .juego__fondo {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .juego__title {
    margin-left: 30px;
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  .juego__container--ordenador {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .juego__container--principal {
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .juego__button {
    position: relative;
    margin-top: 10px;
    margin-left: 150px;
    padding: 2px 10px;
    /*background: $primary-color;*/
  }
  .juego__button:hover {
    cursor: pointer;
  }
  .juego__text {
    margin-right: 10px;
    text-decoration: underline;
    display: flex;
    flex-wrap: nowrap;
  }
  .juego__choice:hover {
    cursor: pointer;
  }
  .juego__ordenador {
    text-decoration: underline;
    align-content: center;
  }
  .footer {
    background: #373737;
    height: 30px;
    clear: both;
    bottom: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 5000px) {
  .curriculum {
    background: #d5d5d5;
  }
  .curriculum__title {
    font-size: 60px;
    font-weight: bolder;
    text-decoration: overline;
    text-align: center;
    background: #c0b283;
    padding: 20px;
    color: #f4f4f4;
    font-family: Garamond;
  }
  .curriculum__informacion {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
  }
  .curriculum__datos {
    text-align: center;
    width: 33%;
  }
  .curriculum__datos__img {
    filter: grayscale(90%);
    width: 90%;
    height: 700px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .curriculum__datos__img:hover {
    transition: 5s;
    transform: rotatey(180deg);
    filter: grayscale(0%);
  }
  .curriculum__datos__title {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  .curriculum__datos__title:hover {
    text-decoration: underline;
  }
  .juego {
    font-size: 30px;
  }
  .juego__fondo {
    width: 100%;
    height: 600px;
    position: absolute;
  }
  .juego__title {
    margin-left: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
    position: relative;
    font-size: 40px;
  }
  .juego__container--ordenador {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .juego__container--principal {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .juego__button {
    justify-self: center;
    position: relative;
    margin-top: 10px;
    margin-left: 150px;
    padding: 2px 10px;
    /*background: $primary-color;*/
  }
  .juego__button:hover {
    cursor: pointer;
  }
  .juego__text {
    margin-right: 10px;
    text-decoration: underline;
    position: relative;
  }
  .juego__choice {
    position: relative;
  }
  .juego__choice:hover {
    cursor: pointer;
  }
  .juego__ordenador {
    text-decoration: underline;
    align-content: center;
    position: relative;
  }
}

/*
filter: sepia(90%);
*/
