$title-color: #c0b283;
$body-color: #d5d5d5;
$primary-color: #f4f4f4;
$footer-color: #373737;

$border-color: rgb(37, 29, 29);
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: 'Times New Roman', Times, serif;
}
@media only screen and (min-width:0px) and (max-width:1024px){
.curriculum{
    background: $body-color;
    &__title{
        font-size: 60px;
        font-weight: bolder;
        text-decoration: overline;
        text-align: center;
        background: $title-color;
        padding: 20px;
        color: $primary-color;
        font-family: Garamond;
        border: 2px solid $border-color;
    }
    &__datos{
        text-align: center;
        border: 2px solid $border-color;
        
        &__title{
            text-decoration: none;
            display: flex;
            flex-direction: column;
            font-size: 60px;
            &:hover{
                text-decoration: underline;
            }
        }
        &__img{
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;
                height: 700px;
                &:hover{
                transform: rotatey(180deg);
                -webkit-transform: rotatey(180deg);
                -moz-transform: rotatey(180deg);
                -ms-transform: rotatey(180deg);
                -o-transform: rotatey(180deg);
}
        }
        &__information{
            width: 100vw;
        }
    }
}
.juego{
    align-items: center;
    &__fondo{
        width: 100vw;
        height: auto;
        position: absolute;
    }
    &__title{
        margin-left: 30px;
        font-size: 30px;
        padding-top: 10px;
        margin-bottom: 20px;
        position: relative;
    }
    &__container{
        position: relative;
        margin-left: 30px;
        &--ordenador{
            display: flex;
            flex-direction: row;
            align-self: center;
        }
    }
    &__button{
        position: relative;
        margin-top: 10px;
        margin-left: 150px;
        padding: 2px 10px;
        border: 2px solid $border-color;
        /*background: $primary-color;*/
        &:hover{
            cursor: pointer;
        }
    }
    &__text{
        margin-right: 10px;
        text-decoration: underline;
        display: flex;
        flex-wrap: nowrap;
    }
    &__choice{
        border: 2px solid $border-color;
        &:hover{
            cursor: pointer;
        }
    }
    &__ordenador{
        text-decoration: underline;
        align-content: center;
    }
}
.footer{
    background: $footer-color;
    height: 30px;
    clear: both;
    
    bottom: 0;
}
}

@media only screen and (min-width:1025px) and (max-width:5000px){
    .curriculum{
        background: $body-color;
        &__title{
            font-size: 60px;
            font-weight: bolder;
            text-decoration: overline;
            text-align: center;
            background: $title-color;
            padding: 20px;
            color: $primary-color;
            font-family: Garamond;
            border: 2px solid $border-color;
        }
        &__informacion{
            margin: 10px;
            display: flex;
            flex-wrap: nowrap;
            width: 100vw;
        }
        &__datos{
            text-align: center;
            border: 2px solid $border-color;
            width: 33%;
            &__img{
                filter: grayscale(90%);
                width: 90%;
                height: 700px;
                margin-left: 5%;
                margin-right: 5%;
                &:hover{
                    transition: 5s;
                    transform: rotatey(180deg);
                    -webkit-transform: rotatey(180deg);
                    -moz-transform: rotatey(180deg);
                    -ms-transform: rotatey(180deg);
                    -o-transform: rotatey(180deg);
                    filter: grayscale(0%);
}
            } 
            &__title{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                font-size: 30px;
                &:hover{
                    text-decoration: underline;
                }
            }  
        }
    }
    .juego{
        font-size: 30px;
        &__fondo{
            width: 100vw;
            height: 600px;
            position: absolute;
        }
        &__title{
            margin-left: 30px;
            padding-top: 10px;
            margin-bottom: 20px;
            position: relative;
            font-size: 40px;
        }
        &__container{
            top: 0;
            margin-left: 30px;
            &--ordenador{
                display: flex;
                flex-direction: row;
                align-self: center;
            }
            //&--principal{
                
            //}
        }
        &__button{
            justify-self: center;
            position: relative;
            margin-top: 10px;
            margin-left: 150px;
            padding: 2px 10px;
            border: 2px solid $border-color;
            /*background: $primary-color;*/
            &:hover{
                cursor: pointer;
            }
        }
        &__text{
            margin-right: 10px;
            text-decoration: underline;
            position: relative;
        }
        &__choice{
            position: relative;
            border: 2px solid $border-color;
            &:hover{
                cursor: pointer;
            }
        }
        &__ordenador{
            text-decoration: underline;
            align-content: center;
            position: relative;
        }
    }

}

/*
filter: sepia(90%);
*/